.bg-blue {
  background-color: #4e73df;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.card{
	position: relative;
  margin-left: 200px ;
  margin-right:200px;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 0.35rem;
}

.card-body {
	padding: 30px;
  padding: 1.25rem;
  border-top: 0 
}

.row {
  display: flex;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.col-lg-7{
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.bg-register-image {
  background-position: center;
  background-size: cover;
}

.form-control {
  display: block;
  width: 300px;
  height: 35px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 10px;
  margin-left: 100px;
}

.font{
  font-family: arial;
  text-align: center;
}

.gender{
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
}

.btn-biru {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
  width: 150px;
  height: 50px;
  border-radius: 10rem;
  margin-left: 170px; 
}